body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav
{
    background-color: transparent;
    padding: 20px;
    display: flex;
    max-width: 70px;
    position: fixed;
   
}
nav img {
    max-width: 100%; /* Garante que a imagem não se expanda além do tamanho da nav */
    height: auto; /* Mantém a proporção da imagem */
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}
nav ul li
{
    display: inline;
}


nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.secao-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff;
}

.conteudo {
    max-width: 50%;
}

.conteudo h1 {
    font-size: 3em;
    margin: 0;
}

.conteudo p {
    margin: 20px 0;
    color: #555;
}

.conteudo .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00704a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.secao-conteudo-image img {
    width: 500px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

.logo img {
    width: 40%; /* Altere este valor para o tamanho desejado */
}
.refresher img {
    width: 100%;
    filter: drop-shadow(0 0 10px red);

}
.palavra_refresher
{
    color: red;

}

.refresher img {
    transition: transform 0.3s ease-in-out; /* Adicione esta linha */
}

.refresher img:hover {
    transform: scale(1.1); /* Adicione esta linha */
}
.morango
{
    color: red;
}
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
        margin-bottom: 1%;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
    }

    nav img {
        display: none;
    }

    h1 {
        font-size: 20px; /* Reduz o tamanho da fonte */
        margin-bottom: 20px; /* Adiciona espaço abaixo do h1 */
    }
    .refresher img {
        display: none;
    }
}